/* 
    Document   : skin-itsz
    Created on : 19/10/2013, 10:23:07 PM
    Author     : lenovo
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}